main h1 {
    font-size: 80px;
    text-align: center;
    color: white;
    background-color:cyan;
    border-radius: 100px;
    border: solid 2px darkblue;
    padding: 30px;
}

main h2 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 40px;
}

body {
    background: linear-gradient(45deg, aqua, dodgerblue);
}

p {
    text-align: center;
    font-size: 22px;
    margin-left: 200px;
    margin-right: 200px;
}

#section1 img {
    align-items: center;
    width: 1280px;
    height: 720px;
}