body {
    background: linear-gradient(45deg, aqua, dodgerblue);
}

fieldset {
    text-align: center;
    background-color: mediumturquoise;
    border-radius: 100px;
    border: none;
}

legend {
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
}

.formHeader {
    font-size: 80px;
    text-align: center;
}

.formSubHeader {
    font-size: 50px;
    color: red;
    text-align: center;
}

select:hover, .imginput {
    background-color: darkcyan;
}

label {
    font-size: 20px;
}

.rating {
    align-items: center;
    direction: rtl;
}

.rating i {
    color: lightblue;
    cursor: pointer;
    font-size: 50px;
    padding: 10px;
}

.rating > i {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > i:hover:before,
  .rating > i:hover ~ i:before {
     color: gold;
  }

.mainForm input:invalid {
    background-color: lightcoral;
}

.mainForm input:valid {
    background-color: lightgreen;
}

.submit {
    background-color:deepskyblue;
    font-size: 24px;
    border-radius: 10px;
    padding: 12px 70px;
    border: 2px solid black;
    cursor: pointer;
}

.submit:hover {
    background-color: mediumslateblue;
}

.video-feedback {
	position: relative;
	width: 100vw;
	height: calc(100vh - 100px);
}

.video-feedback video {
	/* width: 100vw; */
	min-width: 100vw;
	height: calc(100vh - 100px);
	position: absolute;
	max-width: 100vw;
	object-fit: cover;
	z-index: -1;
}

.video-feedback .content-constraint {
	height: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: saturate(180%);
}

.video-feedback .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.video-feedback .content h1 {
	font-size: 48px;
}

.cta-feedback {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	flex-direction: column;
}