body {
    background: linear-gradient(45deg, aqua, dodgerblue);
}

fieldset {
    text-align: center;
    background-color: mediumturquoise;
    border-radius: 100px;
    border: none;
}

legend {
    font-size: 30px;
    color: darkblue;
    font-weight: bold;
}

.formHeader {
    font-size: 80px;
    text-align: center;
}

.formSubHeader {
    font-size: 50px;
    color: red;
    text-align: center;
}

select:hover, .imginput {
    background-color: darkcyan;
}

label {
    font-size: 20px;
}

.rating {
    align-items: center;
    direction: rtl;
}

.rating i {
    color: lightblue;
    cursor: pointer;
    font-size: 50px;
    padding: 10px;
}

.rating > i {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > i:hover:before,
  .rating > i:hover ~ i:before {
     color: gold;
  }

.mainForm input:invalid {
    background-color: lightcoral;
}

.mainForm input:valid {
    background-color: lightgreen;
}

.submit {
    background-color:deepskyblue;
    font-size: 24px;
    border-radius: 10px;
    padding: 12px 70px;
    border: 2px solid black;
    cursor: pointer;
}

.submit:hover {
    background-color: mediumslateblue;
}