body {
	padding: 0;
}

.video-splashscreen {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.video-splashscreen video {
	min-width: 100vw;
	height: 100vh;
	position: absolute;
	max-width: 100vw;
	object-fit: cover;
	z-index: -1;
}

.video-splashscreen .content-constraint {
	height: 100vh;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: saturate(180%);
}

.video-splashscreen .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	text-align: center;
}

.video-hero .content h1 {
	font-size: 48px;
}

main {
	font-family: "Inter Tight", sans-serif;
}

.loader {
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: flex-end;
	height: calc(50px + 20px);
}

.loader .circle {
	animation: moveUpAndDown 2s ease infinite;
	width: 20px;
	height: 20px;
	background-color: #d9d9d9;
	border-radius: 50%;
}

.loader .circle:nth-of-type(2) {
	animation-delay: 0.5s;
}

.loader .circle:nth-of-type(3) {
	animation-delay: 1s;
}

@keyframes moveUpAndDown {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

.content {
	gap: 20px;
}
