.video-volunteer {
	position: relative;
	width: 100vw;
	height: calc(100vh - 100px);
}

.video-volunteer video {
	/* width: 100vw; */
	min-width: 100vw;
	height: calc(100vh - 100px);
	position: absolute;
	max-width: 100vw;
	object-fit: cover;
	z-index: -1;
}

.video-volunteer .content-constraint {
	height: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: saturate(180%);
}

.video-volunteer .content {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
}

.video-volunteer .content h1 {
	font-size: 48px;
}
