<!-- <header> -->

<section class="content header-top">
	<section>
		<a href="home.html">
			<div class="logo-full">
				<img
					src="images/logo-filled-negative.svg"
					alt="Seasweep Logo"
					class="seasweep-logo"
				/>
				<h1 class="desktop-only not-in-relax">SeaGate</h1>
			</div>
		</a>
	</section>
	<a href="#navigation-menu" id="hamburger-trigger" class="mobile-only">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			width="28"
			height="28"
			viewBox="0 0 24 24"
			fill="none"
			stroke="currentColor"
			stroke-width="2"
			stroke-linecap="round"
			stroke-linejoin="round"
			class="lucide lucide-menu"
		>
			<line x1="4" x2="20" y1="12" y2="12" />
			<line x1="4" x2="20" y1="6" y2="6" />
			<line x1="4" x2="20" y1="18" y2="18" />
		</svg>
	</a>
	<nav id="navigation-menu" class="desktop-only navigation-menu">
		<a href="volunteer.html">Volunteer</a>
		<a href="feedback.html">Feedback</a>
		<a href="team.html">Team</a>
		<a href="user.html">Profile</a>
		<a href="table.html">Donate</a>
	</nav>
</section>
<!-- </header> -->
